{% load static %}
{% include "../header.html" %}
<link rel="stylesheet" href="{% static 'css/all_products.css' %}  ">
     <div class="container">
        <div class="buttons">
            <a href="/eat_products/" class="btn">Для еды</a>
            <a href="#" class="btn">Для воды</a>
        </div>
        <ul class="product-list">
            {% for i in products %}
            <li class="product-item">
                <h1>{{ i.title }}</h1>
                {% for tag in i.tags.all %}
                <p>#{{tag.name}}</p>
                {% endfor %}
            </li>
            {% endfor %}
        </ul>
    </div>

{% include "../footer.html" %}