<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<footer class="bg-body-tertiary text-center text-lg-start" data-bs-theme="dark">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05); color: white">
    © 2024 GEEKS-41-1:
    <a class="text-body" href="">GEEKS 41-1</a>
  </div>
  <!-- Copyright -->
</footer>
</body>
</html>